* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #383181;
}

.wrapper {
    display: flex;
}

.wrapper .text {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

.wrapper .dynamic-text {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-text li {
    list-style: none;
    color: chartreuse;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;

}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-text li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}

.dynamic-text li span::after {
    content: '';
    position: absolute;
    left: 0;
    height: 78px;
    width: 100%;
    background: #383181;
    border-left: 2px solid #ffffff;
    animation: typing 3s steps(14) infinite;
}

@keyframes typing {
    40%, 
    60% {
        left: calc(100% + 30px);
    }
    100% {
        left: 0;
    }
}

.open-gift-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-left: 25px;
    background-color: #0a9e2d;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.open-gift-button:hover {
    background-color: chartreuse;
}